<html>
<head>
  <meta charset="UTF-8">
  <title>Pley</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <link rel='icon' type='image/png' href='/favicon.png'/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
  <div id="content">
  </div>

  <script>
    page = {};
    page.data = {};
    page.data.user = {{{user}}};
  </script>
  <script src="/js/build.js"></script>
</body>
</html>