.dropdown {
  position: relative;

  .button {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $grey100;
    font-size: 0.8rem;
    color: $grey50;

    .icon {
      margin-left: 0.5rem;
    }

    &:hover {
      background: $grey700;
      cursor: pointer;
    }

    &.open {
      border-color: $yellow;
      background: $yellow;
    }

  }

  &-menu {
    position: absolute;
    background: $grey100;
    font-size: 0.8rem;
    padding: 0.25rem 0;
    min-width: 8rem;
    margin-top: 0.5rem;
    color: $grey800;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 0 2px 4px #666666;

    &.dropdown-menu-right {
      right: 0;
    }

    ul {
      li {
        height: 2rem;
        display: flex;
        align-items: center;

        a {
          color: $grey800;
          text-decoration: none;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0 0.75rem;
        }

        a:hover {
          // background: $yellow;
          // color: $yellow;
          cursor: pointer;
          background: rgba($yellow, 0.5);
        }
      }
    }
  }
}