.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  
  .input-row {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 1rem;
    width: auto;

    label {
      font-size: 0.8rem;
      color: $grey600;
      margin-bottom: 0.5rem;
      display: block;
    }

    input {
      text-transform: none;
      letter-spacing: 0;
      display: block;
    }

    button {
      width: auto;
    }
  }
}