$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;
$yellow: #f1c40f;

@import 'type';
@import 'dashboard';
@import 'dropdown';
@import 'project-container';
@import 'form';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html, body {
  font-size: 20px;
}

.hero, .docs, .about {
  width: 100vw;
  margin-top: 2rem;
  box-sizing: border-box;
}


.hero img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

.text-container {
  display: inline-block;
  width: 420px;
  margin-bottom: 1.5rem;
}

.text-container .red-text {
  color: red;
}

.docs, .hero, .about {
  h1 {
    font-weight: 900;
    font-size: 5rem;
    color: #333333;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-weight: 900;
    font-size: 3rem;
    color: #333333;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-weight: 900;
    font-size: 2rem;
    color: #999;
    padding-bottom: 1rem;
    border-bottom: 3px solid #999;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 0.5rem;
  }
  
  p {
    line-height: 1.5em;
    font-size: 1rem;
    color: #666666;
  }

  button {
    padding: 1rem;
    background-color: #ffd100;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333333;
    box-shadow: 0 0 2px #ffffff;
    transition: all 0.25s ease;

    margin-bottom: 1.5em;
  }
}


button:hover {
  transition: all 0.25s ease;
  transform: translate3d(0, -1px, 0);
  background-color: #FFDA33;
  box-shadow: 0 2px 4px #666666;
  cursor: pointer;
}

input {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333333;
  width: 16rem;
  box-shadow: 0 0px 4px #ffffff, inset 0 0 1px #666666;
  transition: all 0.25s ease;
  box-sizing: border-box;
}

input:focus {
  box-shadow: 0 2px 4px #999999;
  transition: all 0.25s ease;
}

.hero .emailForm input, .hero .emailForm button {
  display: inline-block;
  margin-right: 1rem;
}

p.small {
  font-size: 0.75rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout .header {
  margin-top: 3rem;
  padding: 20px 0;
}

.layout .header ul {
  height: 60px;
}

.layout .header a {
  cursor: pointer;
}

.layout .header li {
  vertical-align: top;
  display: inline-block;
  margin-right: 1rem;
  height: 60px;
}


.layout .header .link {
  padding: 14px 1rem;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333333;
  box-shadow: 0 0 2px #ffffff;
  transition: all 0.25s ease;
}

.layout .header .link:hover {
  transition: all 0.25s ease;
  transform: translate3d(0, -1px, 0);
  box-shadow: 0 2px 4px #666666;
  cursor: pointer;
}


.layout .header .brand img {
  width: 60px;
  height: 60px;
}

.columns .left {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.columns .right {
  vertical-align: top;
  display: inline-block;
  margin-left: 5%;
  width: 65%;
  overflow: scroll;
}

.sidenav a:first-of-type .listHeader {
  margin-top: 0;
}

.sidenav a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #333;
}

.sidenav a:hover {
  color: #ffd100;
}

.sidenav li {
  margin-bottom: 0.5rem;
}

.sidenav a .listHeader {
  margin-top: 1.5rem;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}

.docs .section {
  padding: 2rem 0;
}

.docs .section.section-header {
  margin-top: 6rem;
}

.docs .section.section-header:first-of-type {
  margin-top: 0;
}

.loginMessage {
  color: red;
}

.settingsErrorMessage {
  color: red !important;
}

.settingsSuccessMessage {
  color: green !important;
}

.smallSettingsLabel {
  font-size: 0.7em;
}